/*CSS DOCUMENT*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

h1 {
  color: #d27979;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.75em;
  margin-top: 1em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 1.5em 0em 0.5em 0em;
}

h3 {
  color: #d9bfbf;
  text-transform: none;
  font-size: 1em;
  margin: 1em, 0em, 0em, 0em;
}

h4 {
  color: #d27979;
  text-transform: uppercase;
}

h5 {
  color: #524848;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

p {
  font-family: font-family: 'Raleway', sans-serif;
  margin: 0.25em, 0em, 0em, 0em;
}

.header {
  text-align: center;
}

.mainmenu a {
  color: #d27979;
  font-size: 0.90em;
  text-decoration: none;
  margin: auto;
}

.mainmenu ul {
  list-style-type: none;
  padding: 0em;
}

.mainmenu li {
  display: inline;
  margin: 1em;
  text-transform: uppercase;
}

.header .maincontent {
  clear: both;
}

.maincontent {
  font-family: 'Raleway', sans-serif;
  font-size: 0.80em;
  line-height: 1.75em;
  letter-spacing: 0.025em;
  margin: auto;
}

.maincontent hr{
        width: 100%;
    }

.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
  text-align: left;
  float: left;
  margin: auto;
  line-height: 2em;
}

.footer i {
  margin-right: 1em;
}

    .footer h4 {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

a {
  color: #000000;
  text-decoration: none;
}

.hours {
  float: left;
}

.contact {
  float: left;
  margin-right: 1em;
}

img {
  width: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  width: 50%;
}

hr {
  width: 100%;
}

table {
  align-content: center;
  background: #d9bfbf;
  margin-bottom: 2em;
margin-top: 1em;
  max-width: 40em;
}

th, td {
  text-align: center;
}

th {
  text-transform: uppercase;
  font-size: 1.25em;
  padding: 0.25em;
  border: 1px solid black;
}

.list ul {
  list-style-type: none;
  padding: 0em;
  margin: 0em 0em 2em 2em;
}

.list li {
  line-height: 1.5em;
}

.list h3 {
  margin-bottom: 0.15em;
}

.events ul {
  list-style-type: none;
  padding: 0em;
}

.events li{
    text-align: center;
}

.events p{
    text-align: center;
}

.events h2 {
    margin-top: 0em;
}

@media only screen and (min-width: 36em){    
      .mainmenu a {
        font-size: 1em;
        margin: auto;
    }
    h2{
        max-width: 32em;
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin: auto;
    }
    p{
        max-width: 32em;
        margin: auto;
        padding-bottom: 0.5em;
        text-align: left;
    }
    li {
        width:32em;
        margin: auto;
        padding: 0.25em;
    }
    .list p{
        text-align: center;
    }

}

@media only screen and (min-width: 52em){
    .mainmenu a {
        font-size: 1.15em;
    }
    h2{
        max-width: 40em;
        font-size: 1.35em;
    }
    p{
        max-width: 40em;
        font-size: 1.15em;
    }
    
    li {
        max-width:40em;
        padding: 0.5em;
    }
    
     .reservewines {
         width: 45%;
         display: inline-block;
         float: left; 
         padding-left: 1.5em;
         padding-right: 1.5em;
}
        .wines {
          width: 45%;
          float: left;
          margin-right: 2em;
        }

    .list{
        margin: auto;
        text-align: center;
    }
    
    .list p li h2{
        max-width: 20em; 
    }
}

@media only screen and (min-width: 70em){
    .mainmenu a {
        font-size: 1.25em;
    }
    
      .wines {
          margin-left: 2em;
        }
}